{% extends 'base.html' %}

{% block home %}
Про нас
{% endblock %}

{% block body %}
<div class="container unselectable about">
    <h1 style="color: white">Немного о нас</h1>
    <div class="photo_about">
        <img src="/static/img/kotik.jpg" alt="Просто милый котик :3" style="float: left; width: 400px; margin-right: 8%">
    <p>
        Данный сайт был создан в образовательных целях. Извините если обидели :с
    </p>
        <div class="vk">vk:<a href="vk.html">xobbba</a></div>
    </div>
</div>
{% endblock %}