{% extends 'base.html' %}

{% block home %}
Добавление статьи
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="color: #FFFFFF">Добавление статьи</h1>
    <form method="post">
      <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
      <textarea name="intro" id="intro" cols="30" rows="10" class="form-control" placeholder="Введите анонс"></textarea>
      <textarea name="text" id="text" cols="30" rows="10" class="form-control" placeholder="Введите основной текст"></textarea>
      <input type="submit" class="btn btn-success" value="Опубликовать">
    </form>
</div>
{% endblock %}