{% extends 'base.html' %}

{% block home %}
Обновление статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Обновление статьи</h1>
    <form method="post">
      <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
      <textarea name="intro" id="intro" cols="30" rows="10" class="form-control"  placeholder="Введите анонс">{{ article.intro }}</textarea>
      <textarea name="text" id="text" cols="30" rows="10" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea>
      <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}