{% extends 'base.html' %}

{% block home %}
Статьи
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="color: white">Статьи</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Статей пока нет :с</p>
    {% endif %}
</div>
{% endblock %}